<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}">
    <h1>Fale conosco</h1>
</div>
<div class="card">
  <!--<div class="contato img-destaque">
    <img class="img-destaque" src="../../assets/img/equipe4.png" />
  </div>-->
    <div class="ql-editor conteudo" style="text-align:center;">
        <b>LABORATÓRIO DE INOVAÇÃO NA GESTÃO</b>
    </div>
    <div class="ql-editor conteudo" style="text-align:center;">
        Secretaria de Estado de Gestão e Recursos Humanos - SEGER 
    </div>
    <ul class="center ql-editor conteudo">
        <li><i class="fa fa-phone fa-lg"></i><span>(27)3636-5277</span></li>
        <li><i class="fa fa-envelope fa-lg"></i><span>labges@seger.es.gov.br</span></li>
        <li><a class="a" href="mailto:labges@seger.es.gov.br"><i class="fa fa-share fa-lg icons"></i><span class="icons">Envie um email</span></a></li>
        <li><i class="fa fa-map fa-lg"></i><span>Avenida Governador Bley, nº 236 - Centro - 29010-150 - Vitória / ES</span></li>
    </ul>
    <div class="ql-editor conteudo" style="text-align:center;">
        <i><a href="https://www.facebook.com/labges/" target="_blank"><i class="fa fa-facebook-square fa-share fa-2x icons" title="Visite nosso facebook"></i></a></i>
        <i><a href="http://labges.es.gov.br/" target="_blank"><i class="fa fa-globe fa-2x icons" title="Visite nosso site"></i></a></i>
    </div>
      
</div>