<uns-noticia-form *ngIf="isAdmin" (onSave)="getNoticias()"></uns-noticia-form>

<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}">
  <h1>Notícias Recentes</h1>
  <uns-spinner [isLoading]="isLoading"></uns-spinner>
  <div *ngIf="!isLoading && noticias && !noticias.length" class="text-center">
    Ainda não existem notícias publicadas
  </div>
</div>
<div class="card noticia ql-editor" *ngFor="let noticia of noticias">
  <h1 class="titulo">{{ noticia.titulo }}</h1>
  <div class="img-destaque" *ngIf="noticia.imgDestaque">
    <img class="img-destaque" [attr.src]="noticia.imgDestaque | safeUrl" />
  </div>
  <p ng-init="lerMais = false; limite=200" class="conteudo" [innerHTML]="noticia.conteudo | slice:3:limite | safeHtml">
  </p>
  <!-- <a *ngIf="lerMais" href ng-click="limite=200; lerMais=false"> Ler Menos</a> -->
  <!-- <a *ngIf="!lerMais" ng-click="limite=noticia.conteudo.length; lerMais=true">...Ler Mais</a> -->
</div>