<uns-noticia-form #noticiaForm *ngIf="isAdmin" [idServidor]="idServidor" (onSave)="getNoticias()"></uns-noticia-form>

<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}" #noticiasTitleCard>
  <h1>Notícias Recentes</h1>
  <uns-spinner [isLoading]="isLoading"></uns-spinner>
  <div *ngIf="!isLoading && noticias && !noticias.length" class="text-center">
    Ainda não existem notícias publicadas
  </div>
</div>
<div class="card noticia ql-editor" *ngFor="let noticia of noticias">
  <ng-container *ngIf="isDono(noticia.servidor.id)">
    <uns-action-icon icon="pencil" styleClass="noticia-icon" label="Editar" (click)="editarNoticia(noticia)" topPosition="15px"></uns-action-icon>
    <uns-action-icon icon="trash" styleClass="noticia-icon" label="Remover" (click)="removerNoticia(noticia.id)" topPosition="40px"></uns-action-icon>
  </ng-container>

  <h1 class="titulo">{{ noticia.titulo }}</h1>
  <div class="data-noticia">
    {{ noticia.dataCriacao | date:'dd/MM/yyyy HH\'h\'mm' }}
    <span *ngIf="noticia.dataAtualizacao">- Atualizado em {{ noticia.dataAtualizacao | date:'dd/MM/yyyy HH\'h\'mm' }}</span>
  </div>
  <div class="img-destaque" *ngIf="noticia.imgDestaque">
    <img class="img-destaque" [attr.src]="noticia.imgDestaque | safeUrl" />
  </div>
  <p ng-init="lerMais = false; limite=200" class="conteudo" [innerHTML]="noticia.conteudo | slice:3:limite | safeHtml">
  </p>
  <!-- <a *ngIf="lerMais" href ng-click="limite=200; lerMais=false"> Ler Menos</a> -->
  <!-- <a *ngIf="!lerMais" ng-click="limite=noticia.conteudo.length; lerMais=true">...Ler Mais</a> -->
</div>
