.noticia {
  position: relative;
}

.noticia /deep/ .noticia-icon span {
  padding-top: 3px;
}

.noticia.ql-editor {
  white-space: initial;
}

.noticia .conteudo {
  text-align: justify;
}
.noticia .conteudo /deep/ p {
  margin-bottom: 10px;
}

.noticia .img-destaque {
  text-align: center;
  margin-bottom: 0.8em;
}
.noticia .img-destaque img {
  max-width: 100%;
  max-height: 360px;
}

.noticia .titulo {
  margin-bottom: 0.1em;
}

.noticia .data-noticia {
  font-size: 0.8em;
  text-align: right;
  margin-bottom: 1em;
}
