<uns-noticia-form (onSave)="getNoticias()"></uns-noticia-form>

<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}">
  <h1>Notícias Recentes</h1>
  <uns-spinner [isLoading]="isLoading"></uns-spinner>
  <div *ngIf="!isLoading && noticias && !noticias.length" class="text-center">
    Ainda não existem notícias publicadas
  </div>
</div>
<div class="card noticia ql-editor" *ngFor="let noticia of noticias">
  <h1 class="titulo">{{ noticia.titulo }}</h1>
  <div class="img-destaque" *ngIf="noticia.imgDestaque">
    <img class="img-destaque" [attr.src]="noticia.imgDestaque | safeUrl" />
  </div>
  <p class="conteudo" [innerHTML]="noticia.conteudo | safeHtml"></p>
</div>
