<div class="formacao card card-w-title">
    <div class="add-formacao-image-icon" (click)="showModalFormacao()">
        <fa name="plus"></fa>
        <span>Adicionar</span>
    </div>
    <uns-formacao-academica-modal [visible]="exibeModalFormacao" (visibleChange)="exibeModalFormacao=$event"></uns-formacao-academica-modal>
  <h1>Formação Acadêmica</h1>
 <div class="formacoes">
    <div *ngFor="let formacao of formacoesAcademicas" class="formacao">
      <hr class="formacaohr">
      <div class="edit-formacao-image-icon" (click)="editarFormacao()">
            <fa name="pencil"></fa>
      </div>
      <h4>{{formacao.instituicaoAcademica.nome}}</h4>
      <div class="delete-formacao-image-icon" (click)="deletarFormacao(formacao.id)">
            <fa name="trash"></fa>
      </div>
      <p>{{formacao.curso == 1 ? 'Ciência da Computação' : 'Sistemas de Informação'}}</p>
      <p>{{formacao.dataInicio | date: 'dd/MM/yyyy'}} à {{formacao.dataFim | date: 'dd/MM/yyyy'}}</p>
    </div>
    <!-- <p-fieldset legend="Header" [toggleable]="true">
            Content
        </p-fieldset> -->
    <p-confirmDialog header="Confirmar exclusão?" icon="fa fa-exclamation-triangle" width="425" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>
</div>


