<p-dialog [header]="title" [modal]="true" [(visible)]="visible" [width]="800" [positionTop]="30" [contentStyle]="{overflow: 'visible'}"
  (onHide)="closeModal()">
  <form [formGroup]="formacaoForm" class="ui-fluid" (submit)="onSubmit(formacaoForm.valid, formacaoForm.value)">
    <div class="ui-g">
      <div class="ui-g-12">
        <label class="form-label">Instituição Acadêmica</label>
        <p-autoComplete [suggestions]="resultadoInstituicoesAcademicas" field="nome" (completeMethod)="pesquisarInstituicoesAcademicas($event)"
          formControlName="instituicao_academica_id" [minLength]="1"></p-autoComplete>
        <small class="validation-error-message" [hidden]="formacaoForm.controls.instituicao_academica_id.pristine || formacaoForm.controls.instituicao_academica_id.valid">
          A instituição acadêmica é um campo obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Curso</label>
        <p-autoComplete [suggestions]="resultadoCursos" (completeMethod)="pesquisarCursos($event)" formControlName="curso" [minLength]="1"></p-autoComplete>
        <small class="validation-error-message" [hidden]="formacaoForm.controls.curso.pristine || formacaoForm.controls.curso.valid">
          O curso é um campo é obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Nível</label>
        <p-dropdown [options]="nivel" [autoWidth]="false" formControlName="nivel"></p-dropdown>
        <small class="validation-error-message" [hidden]="formacaoForm.controls.nivel.pristine || formacaoForm.controls.nivel.valid">
          Nível é um campo obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Data de Início</label>
        <p-calendar default-config formControlName="dataInicio" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="calendarYearRange"
          [maxDate]="formacaoForm.controls.dataFim.value"></p-calendar>
        <small class="validation-error-message" [hidden]="formacaoForm.controls.dataInicio.pristine || formacaoForm.controls.dataInicio.valid">
          A data de início é um campo obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Data de Término</label>
        <p-calendar default-config formControlName="dataFim" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="calendarYearRange"
          [minDate]="formacaoForm.controls.dataInicio.value" [maxDate]="today"></p-calendar>
        <small class="validation-error-message" [hidden]="formacaoForm.controls.dataFim.pristine || formacaoForm.controls.dataFim.valid">
          A data de término é um campo obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isLoading"></uns-spinner>
        <button *ngIf="!isLoading" pButton type="submit" label="Salvar" [disabled]="!formacaoForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>