<div class="formacao card card-w-title">
    <div class="edit-formacao-image-icon" (click)="showModalFormacao()">
        <fa name="edit"></fa>
        <span>Adicionar</span>
      </div>

      <uns-formacao-academica-modal [visible]="exibeModalFormacao" (visibleChange)="exibeModalFormacao=$event"></uns-formacao-academica-modal>

  <h1>Formação Acadêmica</h1>

  <p-dataTable [value]="formacoesacademicas">
      <p-column field="entidade" header="Entidade"></p-column>
      <p-column field="curso" header="Curso"></p-column>
      <p-column field="nivel" header="Nível"></p-column>
      <p-column field="dataInicio" header="Data Início"></p-column>
      <p-column field="dataFim" header="Data Término"></p-column>
      <p-column field="edit" header=""></p-column>
      <p-column field="delete" header=""></p-column>
  </p-dataTable>
</div>

