<p-dialog header="Adicionar Informações de Habilidade" [modal]="true" [(visible)]="visible" [width]="800" [positionTop]="30" [contentStyle]="{overflow: 'visible'}" (onHide)="closeModal()">
  <form [formGroup]="habilidadeForm" class="ui-fluid" (submit)="onSubmit(habilidadeForm.isValid, habilidadeForm.value)">
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Habilidade</label>
        <p-autoComplete [(ngModel)]="nome" [suggestions]="resultadoHabilidades" (completeMethod)="pesquisarhabilidade($event)" formControlName="nome"></p-autoComplete>
        <small class="validation-error-message" [hidden]="habilidadeForm.controls.nome.pristine || habilidadeForm.controls.nome.valid">
          Digite a habilidade.
        </small>
      </div>
    </div>
<!--
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nº de Recomendações</label>
      </div>
    </div>
-->
    <!-- <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nacionalidade</label>
        <p-dropdown [options]="nationalities" [autoWidth]="false" formControlName="nationality"></p-dropdown>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 no-vertical-padding">
          <label class="form-label">Estado</label>
          <p-dropdown [options]="states" [autoWidth]="false" formControlName="state"></p-dropdown>
        </div>
        <div class="ui-g-8 no-vertical-padding">
          <label class="form-label">Cidade</label>
          <input formControlName="city" type="text" pInputText>
          <small class="validation-error-message" [hidden]="habilidadeForm.controls.city.pristine || habilidadeForm.controls.city.valid">
            A cidade é obrigatória.
          </small>
        </div>
      </div>
    </div> -->
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isLoading"></uns-spinner>
        <button *ngIf="!isLoading" pButton type="submit" label="Salvar" [disabled]="!habilidadeForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
