<div class="habilidade card card-w-title" (mouseover)="hideAddIcon = false" (mouseout)="hideAddIcon = true">
      <h1>Habilidades
            <!-- <div class="add-habilidade-image-icon" (click)="addNewhabilidade()">
                  <fa name="plus"></fa>
                  <span>Adicionar</span>
            </div> -->
      </h1> 
      <div class="habilidade_wrapper">
      <p-chips [(ngModel)]="habilidades"  allowDuplicate="false"
      (onAdd)="addHabilidade($event.value);">
    <ng-template let-item pTemplate="item" >
     {{item.nome}} 
     <span *ngIf="item.numRecomendacoes > 0"><span style="padding-right:0.3em;padding-left:0.3em">|</span> 
     {{item.numRecomendacoes}}</span>
     <i style="margin-left:1em" class="fa fa-close" (click)="removeHabilidade($event.target,item)" style="cursor: pointer;"></i>
    
    </ng-template>
</p-chips>
</div>
      <!--<uns-action-icon [hidden]="hideAddIcon" icon="plus" label="Adicionar" (click)="addNewhabilidade()" topPosition="30px" rightPosition="27px"></uns-action-icon>

      <div *ngIf="!isLoading && habilidades && !habilidades.length" class="text-center">
            Você não possui habilidades cadastradas
      </div>

      <uns-habilidade-modal [visible]="exibeModalhabilidade" [habilidadeEdit]="objToEdit" (visibleChange)="exibeModalhabilidade=$event; this.atualizaForm();"></uns-habilidade-modal>

      <div class="{{habilidadesClass}}">
            <div *ngFor="let habilidade of habilidades; let ultimo = last;" class="habilidade">
                  <uns-action-icon icon="pencil" label="Editar" (click)="editarhabilidade(habilidade)" topPosition="0px"></uns-action-icon>
                  <uns-action-icon icon="trash" label="Remover" (click)="deletarhabilidade(habilidade)" topPosition="22px"></uns-action-icon>
                  <h3>{{habilidade.nome}}</h3>
                  <p>Nº Recomendações: {{habilidade.numRecomendacoes}}</p>
                  <hr *ngIf="!ultimo">
            </div>
      </div>
      <div (click)="verMais()" class="botaoVerMais" [hidden]="hideVerMais">
            <fa name={{arrowExpand}}></fa>{{labelExpand}}
      </div>-->
</div>