<div class="habilidade card card-w-title" (mouseover)="hideAddIcon = false" (mouseout)="hideAddIcon = true">
      <h1>Habilidades
      </h1> 
      <div class="habilidade_wrapper">
      <p-chips [(ngModel)]="habilidades"  allowDuplicate="false"
      (onAdd)="addHabilidade($event.value);">
    <ng-template let-item pTemplate="item" >
        <div (click)="onClickDetalheRecomendacao(item)">
     {{item.nome}} 
     &nbsp;&nbsp; 
     <span *ngIf="item.numRecomendacoes > 0">
     {{item.numRecomendacoes}}&nbsp;&nbsp; </span>
     <i style="margin-left:1em" class="habilidadeclose fa fa-close" (click)="removeHabilidade($event.target,item)" style="cursor: pointer;"></i>
    </div>
    </ng-template>
</p-chips>
</div>
</div>

<uns-habilidade-modal [(visible)]="exibeModalRecomendacao"  [habilidade]="habilidade"></uns-habilidade-modal>
