  .habilidade {
    position: relative;
  }

  h3{
    line-height: 1em;
    margin-left: 0.6em;
  }

  p{
    line-height: 1em;
    margin-left: 0.6em;
  }
  
   .habilidade_wrapper /deep/ .ui-state-active,
 .habilidade_wrapper /deep/ .ui-state-highlight {
    background-color: #623586 !important;
    color: #ffffff;
}

 .habilidade_wrapper /deep/ .ui-chips-token {
    padding: .4em .5em !important;
        margin: 2px !important;
}

  .habilidade_wrapper /deep/ .ui-chips-token-icon.fa.fa-fw.fa-close{
  display:  none !important;
}
  .habilidades {
    overflow-y: hidden;
    max-height: 176px; /* exibe 2 habilidades */

    transition: max-height 0.35s ease-out;
  }

  .habilidadesExpandido {
    overflow-y: hidden;
    max-height: 891px; /*exibe até 10 habilidades */

    transition: max-height 0.35s ease-in;
  }
