.profile {
  min-height: 205px;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  position: relative;
}
.profile .profile-image {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.profile .profile-image img {
  width: 160px;
  margin: 0 auto;
}
.profile .edit-profile-image-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  width: 20px;
  height: 22px;
  padding-left: 3px;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  overflow: hidden;
}
.profile .edit-profile-image-icon span,
.profile .edit-profile-image-icon fa {
  float: right;
}
.profile .edit-profile-image-icon span {
  font-size: 11px;
  margin-right: 5px;
}
.profile .edit-profile-image-icon fa {
  margin-right: 2px;
}
.profile:hover .edit-profile-image-icon {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.profile .edit-profile-image-icon:hover {
  background-color: #e5e5e5;
  width: 55px;
  transition: all 150ms ease-in-out;
}
.profile .profile-info {
  text-align: center;
}
.profile .profile-info .name {
  font-size: 0.9em;
}
