.publicacao {
  position: relative;
}

h4, p {
  line-height: 1em;
  margin-left: 0.6em;
}

.publicacoes {
  overflow-y: hidden;
  max-height: 273px; /* exibe 2 formações acadêmicas */

  transition: max-height 0.35s ease-out;
}

.publicacoesExpandido {
  overflow-y: hidden;
  max-height: 10000px; /*exibe até 10 formações acadêmicas */

  transition: max-height 0.75s ease-in;
}
