.card {
  padding: 0.5em;
  height: 100%;
  margin-bottom: 0.667em;
  font-size: 15px;
}

.card img{
  width: 100%;
}

.card a{
  color: #01579b;
}

.card a:hover{
  text-decoration: underline;
  text-decoration-color: #01579b;
  color: #01579b;
}

.card p{
  margin: 0;
}

.card .date{
  font-size:12px;
  color: #9c5c6a;
}

.readmore {
  width:100%;
}
