.card {
  padding: 0;
}
.fa {
  margin-right: 7px;
}
.left-panel-items {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
.left-panel-items li a {
  padding: 5px 0 5px 20px;
  display: block;
  cursor: pointer;
}
.left-panel-items li:hover {
  background-color: #e4e4e4;
}
