.card {
  padding: 0;
}
.fa {
  margin-right: 3px;
  width: 19px;
}
.left-panel-items {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
.left-panel-items li a {
  color: #515151;
  padding: 5px 0 5px 20px;
  display: block;
  cursor: pointer;
}
.left-panel-items li:hover {
  background-color: #e4e4e4;
}

.left-panel-items li a i {
  text-align: center;
}