.profile {
  min-height: 205px;
  border-bottom: 1px solid #cacaca;
  padding: 10px;
  position: relative;
}
.profile .profile-image {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  background-image: url('/assets/img/default-user-icon.png');
  background-repeat: no-repeat;
  background-size: 160px;
  background-position: 10px;
}
.profile .profile-info {
  text-align: center;
}
.profile .profile-info .name {
  font-size: 1em;
}
