<p-dialog [header]="title" [modal]="true" [(visible)]="visible" [width]="800" [positionTop]="30" [contentStyle]="{overflow: 'visible'}" (onHide)="closeModal()">
  <form [formGroup]="capacitacaoForm" class="ui-fluid" (submit)="onSubmit(capacitacaoForm.valid, capacitacaoForm.value)">
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nome Do Curso</label>
        <input formControlName="nomeCurso" type="text" pInputText>
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.nomeCurso.pristine || capacitacaoForm.controls.nomeCurso.valid">
          A entidade é obrigatória.
        </small>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <label class="form-label">Entidade</label>
          <p-autoComplete [suggestions]="sugestoesEntidade" (completeMethod)="pesquisarEntidades($event)" formControlName="entidade"></p-autoComplete>
          <small class="validation-error-message" [hidden]="capacitacaoForm.controls.entidade.pristine || capacitacaoForm.controls.entidade.valid">
           A entidade é obrigatória.
          </small>
        </div>
      </div>
    </div>
      <div class="ui-g-6">
        <label class="form-label">Modalidade</label>
        <p-dropdown [options]="modalidade" [autoWidth]="false" formControlName="modalidade"></p-dropdown>
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.modalidade.pristine || capacitacaoForm.controls.modalidade.valid">
          Modalidade é um campo obrigatório.
        </small>
      </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Ano de Conclusão</label>
        <p-spinner formControlName="anoFim" [min]="0" [max]="anoAtual" [maxlength]="4" [formatInput]="0-0"></p-spinner>
        <!--<input formControlName="anoFim" type="text" pInputText>-->
        <!-- <p-calendar default-config formControlName="dataInicio" [maxDate]="capacitacaoForm.controls.dataFim.value"></p-calendar> -->
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.anoFim.pristine || capacitacaoForm.controls.anoFim.valid">
          O ano de conclusão é obrigatório.
        </small>
      </div>
    <!--  <div class="ui-g-6">
        <label class="form-label">Ano Início</label>
        <input formControlName="dataInicio" type="text" pInputText>
         <p-calendar default-config formControlName="dataInicio" [maxDate]="capacitacaoForm.controls.dataFim.value"></p-calendar>
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.dataInicio.pristine || capacitacaoForm.controls.dataInicio.valid">
          A data de início é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label"> AnoFim</label>
        <input formControlName="dataFim" type="text" pInputText>
         <p-calendar default-config formControlName="dataFim" [minDate]="capacitacaoForm.controls.dataInicio.value"></p-calendar> 
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.dataFim.pristine || capacitacaoForm.controls.dataFim.valid">
          A data de término é obrigatória.
        </small>
      </div> -->
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <label class="form-label">Carga Horária</label>
        <p-spinner formControlName="cargaHoraria" [min]="1" [formatInput]="0-0"></p-spinner>
        <!-- <input formControlName="cargaHoraria" type="text" pInputText> -->
        <small class="validation-error-message" [hidden]="capacitacaoForm.controls.cargaHoraria.pristine || capacitacaoForm.controls.cargaHoraria.valid">
          A carga horária é obrigatória.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isSubmitting"></uns-spinner>
        <button *ngIf="!isSubmitting" pButton type="submit" label="Salvar" [disabled]="!capacitacaoForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
