.capacitacao .edit-capacitacao-image-icon {
    float: right;
    top: 12px;
    right: 12px;
    cursor: pointer;
    width: 20px;
    height: 22px;
    padding-left: 3px;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    overflow: hidden;
  }
  .capacitacao .edit-capacitacao-image-icon span,
  .capacitacao .edit-capacitacao-image-icon fa {
    float: right;
  }
  .capacitacao .edit-capacitacao-image-icon span {
    font-size: 11px;
    margin-right: 5px;
  }
  .capacitacao .edit-capacitacao-image-icon fa {
    margin-right: 2px;
  }
  .capacitacao:hover .edit-capacitacao-image-icon {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }
  .capacitacao .edit-capacitacao-image-icon:hover {
    background-color: #e5e5e5;
    width: 75px;
    transition: all 150ms ease-in-out;
  }