<div class="capacitacao card card-w-title" (mouseover)="hideAddIcon = false" (mouseout)="hideAddIcon = true">
  <h1>Capacitação</h1>

  <uns-action-icon [hidden]="hideAddIcon" icon="plus" label="Adicionar" (click)="addNewCapacitacao()" topPosition="30px" rightPosition="27px"></uns-action-icon>

  <uns-spinner [isLoading]="isLoading && finishedInitialLoading"></uns-spinner>

  <div *ngIf="!isLoading && capacitacoes && !capacitacoes.length" class="text-center">
    Você não possui capacitação cadastrada
  </div>

  <div class="{{capacitacoesClass}}">
    <div *ngFor="let capacitacao of capacitacoes; let ultimo = last" class="capacitacao">
      <uns-action-icon icon="pencil" label="Editar" (click)="editarCapacitacao(capacitacao)" topPosition="0px"></uns-action-icon>
      <uns-action-icon icon="trash" label="Remover" (click)="deletarCapacitacao(capacitacao.id)" topPosition="22px"></uns-action-icon>

      <h4>{{capacitacao.entidade}}</h4>
      <p>{{capacitacao.nomeCurso}} ({{capacitacao.modalidade}})</p>
      <!--<p>{{capacitacao.anoInicio | date: 'dd/MM/yyyy'}} à {{capacitacao.anoFim | date: 'dd/MM/yyyy'}}</p>-->
      <p>Conclusão: {{capacitacao.anoFim}}</p>
      <p>Carga Horária: {{capacitacao.cargaHoraria}}</p>

      <hr *ngIf="!ultimo">
    </div>
  </div>
  <div (click)="verMais()" class="botaoVerMais" [hidden]="hideVerMais">
    <fa name={{arrowExpand}}></fa>{{labelExpand}}
  </div>

</div>

<uns-capacitacao-modal [(visible)]="exibeModalCapacitacao" (onSave)="getCapacitacoes()" [capacitacaoEdit]="objToEdit"></uns-capacitacao-modal>
