.main-wrapper {
  padding-top: 10px;
}

.left-panel {
  float: left;
  width: 200px;
  position: fixed;
}

.content {
  float: right;
  width: 802px;
}
.content .main-content {
  width: 612px;
  float: left;
}

.right-panel {
  width: 180px;
  float: right;
}
