<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}">
    <h1>Sobre a nossa equipe</h1>
</div>
<div class="card">
  <div class="equipe img-destaque">
    <img class="img-destaque" src="../../assets/img/equipe4.png" />
  </div>
    <p class="ql-editor conteudo">  
O The Game Awards foi realizado na madrugada dessa sexta-feira em Los Angeles e esse ano parece ter sido dedicado às bizarrices mesmo. Além do trailer super bizarro de Death Stranding, tivemos uma das melhores, mais bizarras e engraçadas entrevistas de todos os tempos, com Josef Fares, diretor de A Way Out.
Fares, que aparentava estar trincado durante a entrevista, saiu do tópico diversas vezes, mandando um belo Fuck the Oscars e repetindo palavrões diversas vezes, além de ter dito que o jogo dele, A Way Out, não tem nada a ver com “as merdas de lootbox envolvendo a EA”.
    </p>
</div>