<div class="noticias card" [ngClass]="{'card-w-title': noticias && !noticias.length}">
  <h1>Sobre a nossa equipe</h1>
</div>
<div class="card">
  <div class="equipe img-destaque">
    <img class="img-destaque" src="../../assets/img/equipe4.png" />
  </div>
  <p>
    A plataforma de talentos foi desenvolvida por alunos do curso de Ciência da Computação da UVV na disciplina de Laboratório de Engenharia de Software em 2017/2.
  </p>
  <p>
    A disciplina é ofertada no 8º período do curso e os alunos colocam em prática conceitos de Engenharia de Software, Gerenciamento de Projetos e Qualidade de Software e técnicas avançadas de programação. 
    Para o gerenciamento do projeto foi utilizado o conceito de Gestão Ágil (SCRUM) com entregas quinzenais.
  </p>
  <p>Formação da equipe:</p>
  <ul>
    <li>Product Owner: Susiléa Abreu dos Santos Lima a coordenadora do curso e professora da disciplina.</li>
    <li>Scrum Master: Thalles De Almeida Batista no primeiro bimestre e Jesse Campos Astori no segundo bimestre</li>
  </ul>
  <p>Time de Desenvolvimento:</p>
  <ul>
    <li>Anderson Cruz Diniz</li>
    <li>André Luiz Silva Gomes</li>
    <li>César Castelo Branco Terceiro</li>
    <li>Divaldo Mathias Neto</li>
    <li>Gabriel Merlo Ferreira</li>
    <li>Jesse Campos Astori</li>
    <li>Nathalia Rodrigues Simmer</li>
    <li>Thalles De Almeida Batista</li>
    <li>William Alves Salute</li>
  </ul>
</div>
