<div class="cargo card card-w-title">
  <h1>Cargo

<div class="add-cargo-image-icon" (click)="addNewCargo()">
        <fa name="plus"></fa>
        <span>Adicionar</span>
      </div>
      
  <!-- <button type="button" style="float: right;" (click)="addNewCargo()" class="btn btn-primary" >Add</button> -->
  </h1>
  <uns-cargo-modal [visible]="exibeModalCargo" (visibleChange)="exibeModalCargo=$event"></uns-cargo-modal>


<p-dataList [value]="cargos">
   <!-- <p-header>Cargos</p-header> -->
   <!-- <p-footer>Choose from the list.</p-footer> -->
    <ng-template let-cargo pTemplate="item">
        Car content
    </ng-template>
</p-dataList>

</div>
