<div class="cargo card card-w-title">
  <h1>Cargos</h1>

  <div class="add-cargo-image-icon" (click)="addNewCargo()">
    <fa name="plus"></fa>
    <span>Adicionar</span>
  </div>



  <div *ngFor="let cargo of cargos" class="cargo">
    <hr>
    <div class="edit-cargo-image-icon" (click)="editarCargo(cargo)">
      <fa name="pencil"></fa>
    </div>

    <h3>{{cargo.nome}}</h3>

    <div class="delete-cargo-image-icon" (click)="deletarCargo(cargo.id)">
      <fa name="trash"></fa>
    </div>

    <p>Período: {{cargo.dataInicio | date: 'dd/MM/yyyy'}} à {{cargo.dataFim | date: 'dd/MM/yyyy'}}</p>

    <!--<p>Nível: {{cargo.nivel}}</p>-->
  </div>
</div>

<uns-cargo-modal [visible]="exibeModalCargo" [cargoEdit]="objToEdit" (visibleChange)="exibeModalCargo=$event; this.atualizaForm();"></uns-cargo-modal>
