<p-dialog [header]="title" [modal]="true" [(visible)]="visible" [width]="800" [positionTop]="30" [contentStyle]="{overflow: 'visible'}" (onHide)="closeModal()">
  <form [formGroup]="cargoForm" class="ui-fluid" (submit)="onSubmit(cargoForm.valid, cargoForm.value)">
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nome</label>
        <p-autoComplete [suggestions]="sugestoesCargo" (completeMethod)="pesquisarCargo($event)" formControlName="nome"></p-autoComplete>
        <small class="validation-error-message" [hidden]="cargoForm.controls.nome.pristine || cargoForm.controls.nome.valid">
          O nome do cargo é obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Setor -- Pendente Susi</label>
        <p-autoComplete [suggestions]="sugestoesSetores" (completeMethod)="pesquisarSetor($event)" formControlName="setor"></p-autoComplete>
        <small class="validation-error-message" [hidden]="cargoForm.controls.setor.pristine || cargoForm.controls.setor.valid">
          O setor é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Início</label>
        <p-calendar default-config formControlName="dataInicio" [maxDate]="cargoForm.controls.dataFim.value"></p-calendar>
        <small class="validation-error-message" [hidden]="cargoForm.controls.dataInicio.pristine || cargoForm.controls.dataInicio.valid">
          A data de início de vigência do cargo é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Fim</label>
        <p-calendar default-config formControlName="dataFim" [minDate]="cargoForm.controls.dataInicio.value"></p-calendar>
        <small class="validation-error-message" [hidden]="cargoForm.controls.dataFim.pristine || cargoForm.controls.dataFim.valid">
          A data de fim de vigência do cargo é obrigatória.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isSubmitting"></uns-spinner>
        <button *ngIf="!isSubmitting" pButton type="submit" label="Salvar" [disabled]="!cargoForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
