.cargo {
  position: relative;
}
.cargo .ui-widget-content {
  border: none;
}

h4, p {
  line-height: 1em;
  margin-left: 0.6em;
}


.cargos {
  overflow-y: hidden;
  max-height: 219px; /* exibe 2 cargos */

  transition: max-height 0.35s ease-out;
}

.cargosExpandido {
  overflow-y: hidden;
  max-height: 10000px;

  transition: max-height 0.75s ease-in;
}

