.profile-image-g {
  height: 180px;
}
.profile-image {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: content-box;
}
.profile-image:hover {
  border: 1px solid #4d4d4d;
  transition: border 300ms ease-in-out;
}
.profile-image /deep/ .ui-fileupload-choose {
  width: 180px;
  height: 100%;
  background-image: url('/assets/img/default-user-icon.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 180px;
}
.profile-image /deep/ .ui-fileupload-choose:hover {
  background-color: #fff;
}
.profile-image /deep/ .ui-button-icon-left,
.profile-image /deep/ .ui-button-text {
  display: none;
}

.profile-image-overlay {
  opacity: 0;
  background-color: #4d4d4d;
  color: #fff;
  width: 100%;
  height: 25px;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.profile-image-overlay span {
  display: inline-block;
  padding-top: 10px;
}
.profile-image:hover .profile-image-overlay {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.profile-image:hover .profile-image-overlay span {
  padding-top: 0;
  transition: 200ms ease-in-out;
}
