<p-dialog header="Editar Perfil" [modal]="true" [(visible)]="visible" [width]="800" (onHide)="closeModal()" [contentStyle]="{overflow: 'visible'}">
  <form [formGroup]="profileForm" class="ui-fluid" (submit)="onSubmit(profileForm.valid, profileForm.value)">
    <div class="ui-g">
      <div class="profile-image">
        <img [attr.src]="profileImageSource" />
        <div class="profile-image-overlay">
          <span>Alterar foto</span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <label class="form-label">Nome Completo</label>
        <input formControlName="nome" type="text" pInputText>
        <small class="validation-error-message" [hidden]="profileForm.controls.nome.pristine || profileForm.controls.nome.valid">
          O nome é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Data de Nascimento</label>
        <p-calendar br-locale formControlName="dataNascimento" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="calendarYearRange"></p-calendar>
        <small class="validation-error-message" [hidden]="profileForm.controls.dataNascimento.pristine || profileForm.controls.dataNascimento.valid">
          A data de nascimento é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Sexo</label>
        <p-radioButton class="ui-g-4" name="sexo" value="M" label="Masculino" formControlName="sexo"></p-radioButton>
        <p-radioButton class="ui-g-4" name="sexo" value="F" label="Feminino" formControlName="sexo"></p-radioButton>
        <p-radioButton class="ui-g-4" name="sexo" value="O" label="Outro" formControlName="sexo"></p-radioButton>
        <small class="validation-error-message" [hidden]="profileForm.controls.sexo.pristine || profileForm.controls.sexo.valid">
          O sexo é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Estado Civil</label>
        <p-dropdown [options]="maritalStatuses" [autoWidth]="false" formControlName="estadoCivil"></p-dropdown>
        <small class="validation-error-message" [hidden]="profileForm.controls.estadoCivil.pristine || profileForm.controls.estadoCivil.valid">
          O estado civil é obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Número Funcional</label>
        <p-inputMask mask="999999" formControlName="numeroFuncional"></p-inputMask>
        <small class="validation-error-message" [hidden]="profileForm.controls.numeroFuncional.pristine || profileForm.controls.numeroFuncional.valid">
          O número funcional é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nacionalidade</label>
        <p-dropdown [options]="nationalities" [autoWidth]="false" formControlName="nacionalidade"></p-dropdown>
        <small class="validation-error-message" [hidden]="profileForm.controls.nacionalidade.pristine || profileForm.controls.nacionalidade.valid">
          A nacionalidade é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 no-vertical-padding">
          <label class="form-label">Estado</label>
          <p-dropdown [options]="states" [autoWidth]="false" formControlName="estado"></p-dropdown>
          <small class="validation-error-message" [hidden]="profileForm.controls.estado.pristine || profileForm.controls.estado.valid">
            O estado é obrigatório.
          </small>
        </div>
        <div class="ui-g-8 no-vertical-padding">
          <label class="form-label">Cidade</label>
          <input formControlName="cidade" type="text" pInputText>
          <small class="validation-error-message" [hidden]="profileForm.controls.cidade.pristine || profileForm.controls.cidade.valid">
            A cidade é obrigatória.
          </small>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="!profileForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
