.funcao {
  position: relative;
}
.funcao .ui-widget-content {
  border: none;
}

h4, p {
  line-height: 1em;
  margin-left: 0.6em;
}

.descricao{
  margin-left: 10px;
}

.funcoes {
  overflow-y: hidden;
  max-height: 327px; /* exibe 2 funções */

  transition: max-height 0.35s ease-out;
}

.funcoesExpandido {
  overflow-y: hidden;
  max-height: 10000px; /*exibe até 10 funções */

  transition: max-height 0.75s ease-in;
}
