<div class="funcao card card-w-title" (mouseover)="hideAddIcon = false" (mouseout)="hideAddIcon = true">
  <h1>O que você faz...</h1>

  <uns-action-icon [hidden]="hideAddIcon" icon="plus" label="Adicionar" (click)="addNewFuncao()" topPosition="30px" rightPosition="27px"></uns-action-icon>

  <uns-spinner [isLoading]="isLoading && finishedInitialLoading"></uns-spinner>

  <div *ngIf="!isLoading && funcoes && !funcoes.length" class="text-center">
    Você não possui funções cadastradas
  </div>

  <div class="{{funcoesClass}}">
    <div *ngFor="let funcao of funcoes; let ultimo = last" class="funcao">
      <uns-action-icon icon="pencil" label="Editar" (click)="editarFuncao(funcao)" topPosition="0px"></uns-action-icon>
      <uns-action-icon icon="trash" label="Remover" (click)="deletarFuncao(funcao.id)" topPosition="22px"></uns-action-icon>

      <h4>{{funcao.nome}}</h4>
      <p *ngIf="funcao.orgao">Orgão: {{funcao.orgao.sigla}}</p>
      <p *ngIf="funcao.setor">Setor: {{funcao.setor.nome}}</p>
      <p>Descrição: {{funcao.descricao}}</p>
      <p *ngIf="funcao.dataFim" >Período: {{funcao.dataInicio | date: 'dd/MM/yyyy'}} à {{funcao.dataFim | date: 'dd/MM/yyyy'}} </p>
      <p *ngIf="!funcao.dataFim">Inicio: {{funcao.dataInicio | date: 'dd/MM/yyyy'}} </p>

      <hr *ngIf="!ultimo">
    </div>
  </div>
  <div (click)="verMais()" class="botaoVerMais" [hidden]="hideVerMais">
    <fa name={{arrowExpand}}></fa>{{labelExpand}}
  </div>
</div>
<uns-funcao-modal [(visible)]="exibeModalfuncao" (onSave)="getFuncoes()" [funcaoEdit]="objToEdit"></uns-funcao-modal>
