<div class="funcao card card-w-title" (mouseover)="hideAddIcon = false" (mouseout)="hideAddIcon = true">
  <h1>Funções</h1>

  <uns-action-icon [hidden]="hideAddIcon" icon="plus" label="Adicionar" (click)="addNewFuncao()" topPosition="30px" rightPosition="27px"></uns-action-icon>

  <uns-spinner [isLoading]="isLoading"></uns-spinner>

  <div *ngIf="!isLoading && funcoes && !funcoes.length" class="text-center">
    Você não possui funções cadastradas
  </div>

  <div *ngFor="let funcao of funcoes" class="funcao">
    <hr>

    <uns-action-icon icon="pencil" label="Editar" (click)="editarFuncao(funcao)"></uns-action-icon>
    <uns-action-icon icon="trash" label="Remover" (click)="deletarFuncao(funcao.id)" topPosition="34px"></uns-action-icon>

    <h3>{{funcao.nome}}</h3>
    <p>Descrição: {{funcao.descricao}}</p>
    <p>Período: {{funcao.dataInicio | date: 'dd/MM/yyyy'}} à {{funcao.dataFim | date: 'dd/MM/yyyy'}}</p>

    <!--<p>Nível: {{funcao.nivel}}</p>-->
  </div>
</div>

<uns-funcao-modal [(visible)]="exibeModalfuncao" (onSave)="getFuncoes()" [funcaoEdit]="objToEdit"></uns-funcao-modal>
