<p-dialog [header]="title" [modal]="true" [(visible)]="visible" [width]="800" [positionTop]="30" [contentStyle]="{overflow: 'visible'}" (onHide)="closeModal()">
  <form [formGroup]="funcaoForm" class="ui-fluid" (submit)="onSubmit(funcaoForm.valid, funcaoForm.value)">
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nome</label>
        <p-autoComplete [suggestions]="sugestoesFuncao" (completeMethod)="pesquisarFuncao($event)" formControlName="nome"></p-autoComplete>
        <small class="validation-error-message" [hidden]="funcaoForm.controls.nome.pristine || funcaoForm.controls.nome.valid">
          O nome da função é obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Setor</label>
        <p-autoComplete [suggestions]="sugestoesSetor" (completeMethod)="pesquisarSetor($event)" formControlName="setor"></p-autoComplete>
        <small class="validation-error-message" [hidden]="funcaoForm.controls.setor.pristine || funcaoForm.controls.setor.valid">
          O setor é obrigatório.
        </small>
      </div>
    </div>
    
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Órgão</label>
        <p-autoComplete [suggestions]="sugestoesOrgao" (completeMethod)="pesquisarOrgao($event)" formControlName="orgao_id" field="sigla">
          <ng-template let-brand pTemplate="item">
            {{brand.sigla}} - {{brand.nome}}
        </ng-template>
        </p-autoComplete>
      </div>
      <div class="ui-g-6">
        <br/>
        <p-checkbox binary="true" formControlName="atual" label="Atual"></p-checkbox>
      </div>
    </div>
    
    <div class="ui-g">
      <div class="ui-g-12">
        <label class="form-label">Descrição</label>
        <textarea pInputTextarea formControlName="descricao" autoResize="autoResize" [rows]="5"></textarea>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Início</label>
        <p-calendar default-config formControlName="dataInicio" [maxDate]="funcaoForm.controls.dataFim.value"></p-calendar>
        <small class="validation-error-message" [hidden]="funcaoForm.controls.dataInicio.pristine || funcaoForm.controls.dataInicio.valid">
          A data de início de vigência da função é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Fim</label>
        <p-calendar default-config formControlName="dataFim" [disabled]="atualChecked" [minDate]="funcaoForm.controls.dataInicio.value"></p-calendar>
        <small class="validation-error-message" [hidden]="funcaoForm.controls.dataFim.pristine || funcaoForm.controls.dataFim.valid">
          A data de fim de vigência da função é obrigatória.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isSubmitting"></uns-spinner>
        <button *ngIf="!isSubmitting" pButton type="submit" label="Salvar" [disabled]="!funcaoForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
