.topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
  text-align: center;
  background-color: #01579b;
  color: #ffffff;
}
.topbar-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.search-area {
  margin-left:200px;
  width: 600px;
}

.search-area input{
  width: 540px;
}

.search-overlay{
  width: 505px;
}

.search-overlay h1{
  font-size:20px;
}
