.topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1001;
  text-align: center;
  background-color: #623586;
  color: #ffffff;
}
.topbar-content {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('../../../assets/img/Brasao_GovernoW.png'), url('../../../assets/img/labges_branco.png');
  background-repeat: no-repeat;
  background-size: 117px 46px, 115px 40px;
  background-position: 0 0, 130px 50%;
}

.search-area {
  margin-left:250px;
  width: 100%;
  max-width: 573px;
}

.search-area input{
  width: 100%;
}

.search-overlay{
  width: 505px;
}

.search-overlay h1{
  font-size:20px;
}

.brasao-governo{
  height: 50px;
}

.topbar-icons{
  margin-left: 50px;
  top: 0;
  color:aliceblue;
}

.topbar-icons:hover{
  color: #feb101;
}
