<div class="topbar">
  <div class="topbar-content wrapper">
    <!--<span>Unisystem</span>-->
    <div class="search-area">
      <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Encontrar servidores" [(ngModel)]="nomeCompleto" (focus)="op.show($event)">
        <button pButton type="button" icon="fa-search" class="ui-button-secondary" (click)="pesquisarServidor(); op.hide($event);" [routerLink]="['/servidores']" [queryParams]="{nome: [(nomeCompleto)], instituicao: [(instituicao)], cargo: [(cargo)], orgao: [(orgao)], setor: [(setor)]}"></button>
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <div class="ui-g ui-fluid search-overlay">
    <div class="ui-g-12">
      <h1>Pesquisar talentos</h1>
      <hr>
    </div>

    <div class="ui-g-6">
      <label class="form-label">Nome Completo</label>
      <input type="text" [(ngModel)]="nomeCompleto" pInputText>
    </div>

    <div class="ui-g-6">
      <label class="form-label">Instituição</label>
      <input type="text" [(ngModel)]="instituicao" pInputText>
    </div>

    <div class="ui-g-6">
      <label class="form-label">Cargo</label>
      <input type="text" [(ngModel)]="cargo" pInputText>
    </div>

    <div class="ui-g-6">
      <label class="form-label">Orgão</label>
      <input type="text" [(ngModel)]="orgao" pInputText>
    </div>

    <div class="ui-g-6">
      <label class="form-label">Setor</label>
      <input type="text" [(ngModel)]="setor" pInputText>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-7"></div>

      <span class="ui-g-2">
        <button pButton type="button" class="ui-button-secondary" icon="fa-eraser" (click)="limparCampos()"></button>
      </span>

      <span class="ui-g-3">
        <button pButton type="button" label="Pesquisar" (click)="pesquisarServidor(); op.hide($event);" [routerLink]="['/servidores']" [queryParams]="{nome: [(nomeCompleto)], instituicao: [(instituicao)], cargo: [(cargo)], orgao: [(orgao)], setor: [(setor)]}"></button>
      </span>
    </div>
  </div>
</p-overlayPanel>
