<div class="funcao card card-w-title">
  <h1>Servidores</h1>


<div *ngFor="let servidor of servidores" class="servidor">  
      <hr class="hr">

      <h3>{{servidor.nome}}</h3>
      <img src="public/img/{{servidor.foto}}" />
      <p>Email: {{servidor.email}} </p>  
      <p>Sexo: {{servidor.sexo}}</p>   
      <p>Estado Civil: {{servidor.estadoCivil}} </p>  
      <p>Localidade:  {{servidor.cidade}} - {{servidor.estado}}</p>  
      
      <p>Cargo: </p>   {{servidor.cargo[0].nome}} 
      <p>Cargo: </p>   {{servidor.cargo.nome}} 
</div> 

</div>
