<div class="funcao card card-w-title">
  <h1>Servidores</h1>
  <uns-spinner [isLoading]="isLoading"></uns-spinner>
  <div *ngIf="!isLoading && servidores && !servidores.length" class="text-center">
    Não foram encontrados servidores com estes parâmetros
  </div>
  <div *ngFor="let servidor of servidores" class="servidor">
    <hr>
    <img class="router-detalhe" (click)="redirectToServidorDetalhe(servidor.id)" [src]="servidor.foto || defaultImageUrl">
    <h3>
      <span class="router-detalhe" (click)="redirectToServidorDetalhe(servidor.id)">{{servidor.nome}}</span>
    </h3>

    <p *ngIf="servidor.cargo[0]">
        
          <b>Cargo Nome:</b> {{servidor.cargo[0]?.nome}}
     <br/>
          <b>Cargo Setor:</b> {{ servidor.cargo ? servidor.cargo[0]?.setor ? servidor.cargo[0]?.setor.nome : '' : '' }}
    <br/>
          <b>Cargo Órgão:</b> {{servidor.cargo? servidor.cargo[0]?.orgao? servidor.cargo[0]?.orgao.nome: '' : '' }}
   
    </p>    
    <p *ngIf="servidor.funcao[0]">
      
        <b>Função Nome:</b> {{servidor.funcao[0]?.nome}}
    <br/>
        <b>Função Setor:</b> {{ servidor.funcao ? servidor.funcao[0]?.setorFuncao ? servidor.funcao[0]?.setorFuncao.nome : '' : '' }}
     <br/>
        <b>Função Órgão: </b> {{servidor.funcao? servidor.funcao[0]?.orgaoFuncao? servidor.funcao[0]?.orgaoFuncao.nome: '' : '' }}
      
    </p>
    
    <p>
    <b>Habilidades:</b>
    </p>
    <ul>
      <li *ngFor="let habilidade of servidor.habilidade">{{ habilidade.nome }}</li>
    </ul>
   
      
    <!--  <p>

     <p>  
      <b>Email:</b> {{servidor.email}}
    </p>
    <p>
      <b>Sexo:</b> {{servidor.sexo}}
    </p>
    <p>
      <b>Estado Civil:</b> {{servidor.estadoCivil}}
    </p>
    <p>
      <b>Localidade:</b> {{servidor.cidade}} - {{servidor.estado}}
    </p> -->
  </div>
</div>
