<p-dialog header="Editar Perfil" [modal]="true" [(visible)]="visible" [width]="800" (onHide)="closeModal()" [contentStyle]="getContentStyle()">
  <form [formGroup]="profileForm" class="ui-fluid" (submit)="onSubmit(profileForm.valid, profileForm.value)">
    <div class="ui-g profile-image-g">
      <div class="profile-image">
        <img [src]="profileForm.controls.foto.value || '/assets/img/default-user-icon.png'" (click)="visibleCropModal = true" />
        <div class="profile-image-overlay">
          <span>Alterar foto</span>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <label class="form-label">Nome Completo</label>
        <input formControlName="nome" type="text" pInputText>
        <small class="validation-error-message" [hidden]="profileForm.controls.nome.pristine || profileForm.controls.nome.valid">
          O nome é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Data de Nascimento</label>
        <p-calendar default-config formControlName="dataNascimento" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="calendarYearRange" [maxDate]="today"></p-calendar>
        <small class="validation-error-message" [hidden]="profileForm.controls.dataNascimento.pristine || profileForm.controls.dataNascimento.valid">
          A data de nascimento é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Sexo</label>
        <p-radioButton class="ui-g-4" name="sexo" value="Masculino" label="Masculino" formControlName="sexo"></p-radioButton>
        <p-radioButton class="ui-g-4" name="sexo" value="Feminino" label="Feminino" formControlName="sexo"></p-radioButton>
        <p-radioButton class="ui-g-4" name="sexo" value="Outro" label="Outro" formControlName="sexo"></p-radioButton>
        <small class="validation-error-message" [hidden]="profileForm.controls.sexo.pristine || profileForm.controls.sexo.valid">
          O sexo é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Estado Civil</label>
        <p-dropdown [options]="maritalStatuses" [autoWidth]="false" formControlName="estadoCivil"></p-dropdown>
        <small class="validation-error-message" [hidden]="profileForm.controls.estadoCivil.pristine || profileForm.controls.estadoCivil.valid">
          O estado civil é obrigatório.
        </small>
      </div>
      <div class="ui-g-6">
        <label class="form-label">Número Funcional</label>
        <p-inputMask mask="999999" formControlName="numeroFuncional"></p-inputMask>
        <small class="validation-error-message" [hidden]="profileForm.controls.numeroFuncional.pristine || profileForm.controls.numeroFuncional.valid">
          O número funcional é obrigatório.
        </small>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6">
        <label class="form-label">Nacionalidade</label>
        <p-dropdown [options]="nationalities" [autoWidth]="false" formControlName="nacionalidade"></p-dropdown>
        <small class="validation-error-message" [hidden]="profileForm.controls.nacionalidade.pristine || profileForm.controls.nacionalidade.valid">
          A nacionalidade é obrigatória.
        </small>
      </div>
      <div class="ui-g-6">
        <div class="ui-g-4 no-vertical-padding">
          <label class="form-label">Estado</label>
          <p-dropdown [options]="states" [autoWidth]="false" formControlName="estado"></p-dropdown>
          <small class="validation-error-message" [hidden]="profileForm.controls.estado.pristine || profileForm.controls.estado.valid">
            O estado é obrigatório.
          </small>
        </div>
        <div class="ui-g-8 no-vertical-padding">
          <label class="form-label">Cidade</label>
          <input formControlName="cidade" type="text" pInputText>
          <small class="validation-error-message" [hidden]="profileForm.controls.cidade.pristine || profileForm.controls.cidade.valid">
            A cidade é obrigatória.
          </small>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-6 no-vertical-padding">
        <label class="form-label">Email</label>
        <input formControlName="email" type="text" size="255" pInputText>
        <small class="validation-error-message" [hidden]="profileForm.controls.email.pristine || profileForm.controls.email.valid">
          <span *ngIf="profileForm.controls.email.hasError('required')">O email é obrigatório.</span>
          <span *ngIf="profileForm.controls.email.hasError('email')">O email não está em um formato válido.</span>
        </small>
      </div>
      <div class="ui-g-6 no-vertical-padding">
        <label class="form-label">Telefone</label>
        <p-inputMask mask="(99) 99999-9999" formControlName="telefone"></p-inputMask>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <uns-spinner [isLoading]="isSubmitting"></uns-spinner>
        <button *ngIf="!isSubmitting" pButton type="submit" label="Salvar" [disabled]="!profileForm.valid"></button>
      </div>
    </div>
  </form>
</p-dialog>
<p-dialog header="Alterar foto" [modal]="true" [(visible)]="visibleCropModal" (onHide)="closeCropModal()" class="crop-modal">
  <div class="ui-g">
    <div class="ui-g-12 file-upload-container">
      <input type="file" id="file-upload-input" (change)="fileChangeListener($event)" class="file-upload-input" />
      <label for="file-upload-input" class="file-upload-label">Selecione uma imagem</label>
      <span class="file-upload-filename">{{ imgFileName }}</span>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <img-cropper #cropper [image]="imageData" [settings]="cropperSettings"></img-cropper>
    </div>
  </div>
  <uns-spinner [isLoading]="isUpdatingPicture"></uns-spinner>
  <div class="ui-g ui-fluid upload-image-buttons" *ngIf="!isUpdatingPicture">
    <div class="ui-g-6">
      <button pButton label="Enviar" (click)="upload(imageData)"></button>
    </div>
    <div class="ui-g-6">
      <button pButton label="Cancelar" (click)="closeCropModal()"></button>
    </div>
  </div>
</p-dialog>
