<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="card login-panel ui-fluid">
    <div class="ui-g">
      <div class="ui-g-12 logo-container">
        <img class="logo" src="assets/img/logo.png" />
      </div>
      <div class="ui-g-12 login-error-message fadeOutUp" *ngIf="loginErrorMessage">
        {{ loginErrorMessage }}
      </div>
      <div class="ui-g-12">
        <input autofocus type="text" placeholder="Usuário" formControlName="username" (focus)="loginErrorMessage = null" pInputText>
        <small class="validation-error-message" *ngIf="loginForm.controls.username.dirty && loginForm.controls.username.invalid">
          O nome de usuário é obrigatório.
        </small>
      </div>
      <div class="ui-g-12">
        <input type="password" placeholder="Senha" formControlName="password" (focus)="loginErrorMessage = null" pInputText>
        <small class="validation-error-message" *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.invalid">
          A senha é obrigatória.
        </small>
      </div>
      <div class="ui-g-12">
        <button class="bg-primary-color" type="submit" [disabled]="!loginForm.valid" pButton label="Entrar" icon="ui-icon-person"></button>
      </div>
    </div>
  </div>
</form>
